<link href="~/css/index.css" rel="stylesheet" />
<link href="~/font-awesome/css/all.css" rel="stylesheet" />
<link href="~/font-awesome/css/all.min.css" rel="stylesheet" />




<body>
   
    <div class="clearfix" ></div>
    <!--Banner-->
    <div class="banner">
        <div class="espacio"></div>
        <div class="bannerTexto">
            <h1>Cuevana</h1>
            <p>Mira todas tus peliculas y series gratis</p>
        </div>
    </div>

    <br />
    <br />
    <h1 class="GaleriaTittle">Las mas vistas en Argentina esta semana</h1>
    <br />
    <br />

    <!--Galeria Fotos-->
    <section class="imagenespiola">
        <img src="~/img/portada1.jpg" />
        <img src="~/img/portada2.jpg" />
        <img src="~/img/portada3.jpg" />
        <img src="~/img/portada4.jpg" />
        <img src="~/img/portada5.jpg" />
        <img src="~/img/portada6.jpg" />
        <img src="~/img/portada7.jpg" />
        <img src="~/img/portada8.jpg" />
    </section>

    <br />
    <br />
    <h1 class="GaleriaTittle">Nuevos Lanzamientos</h1>
    <br />
    <br />
    <!--Venta y Alquiler-->

    <div class="movie-card">
        <div class="movie-details">
            <h2>Iron Man 3</h2>
            <div class="buttons">
                <button class="rent-button">$5 alquilar</button>
                <button class="buy-button">$15 comprar</button>
            </div>
        </div>
    </div>
</body>